.forgot-password-title {
    
        text-align: center;
        color: #1976d2;
        font-family: sans-serif;
        margin-bottom: 20px;
      
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .error-text {
    color: red;
    font-size: 14px;
  }
  
  .success-text {
    color: green;
    font-size: 14px;
  }
  